<h1>All Comments</h1>

<table style="border-collapse: collapse;">
  <tr style="background-color: #dddddd">
  <th style="padding:8px;border:1px solid black;text-align: left">Comments</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Products</th>
  </tr>
  <tbody><% @comments.each do |comment| %>
  <tr>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= comment.content %></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= comment.product.name %></td>
  </tr>
  <% end %>
</tbody>
</table>
<a href="/products/">Back</a>
