<h1>New product</h1>
<!-- <% if flash[:message]%>
<p><%= flash[:message] %></p>
<% end %> -->
<form action="/products/" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Category </label></br>
  <select name="product[category_id]" id="Category">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select></br>
  <label>Name </label></br>
  <input type="text" name="product[name]"/></br>
  <label>Description </label></br>
  <input type="text" name="product[description]"/></br>
  <label>Price </label></br>
  <input type="text" name="product[pricing]"/></br>
  <input type="submit" value="Create" />
</form>
<a href="/products/">Back</a>
