<h1>Listing users</h1>

<table style="border-collapse: collapse;">
  <thead>
      <tr style="background-color: #dddddd">
      <th style="padding:8px;border:1px solid black;text-align: left">First name</th>
      <th style="padding:8px;border:1px solid black;text-align: left">Last name</th>
      <th style="padding:8px;border:1px solid black;text-align: left">Email</th>
      <th style="padding:8px;border:1px solid black;text-align: left">Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="padding:8px;border:1px solid black;text-align: left"><%= user.first_name %></td>
        <td style="padding:8px;border:1px solid black;text-align: left"><%= user.last_name %></td>
        <td style="padding:8px;border:1px solid black;text-align: left"><%= user.email %></td>
        <td style="padding:8px;border:1px solid black;text-align: left"><%= user.password %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
