<center><p style="border-style: solid; border-color: black; padding: 10px; width: 200px; margin-top: 30px;"> The current time and date: <p>
<center><h1 style="border-style: solid; border-color: black; padding: 10px; width: 400px; margin-top: 30px;"><%=@time.strftime("%b %d, %Y")%></br><%=@time.strftime("%I:%M %p")%></h1>
